body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3B3BDE;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  height: 50px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
  transition: color 0.3s;
}
.nav-link:hover {
  color: #d4d4ff;
}

.catalogo-container {
  display: flex;
  margin-top: 0;
  min-height: calc(100vh - 150px);
}

.sidebar {
  background-color: #ffffff;
  width: 250px;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.sidebar label {
  font-weight: bold;
  margin-top: 10px;
}

.sidebar select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#btnFiltrar {
  width: 100%;
  padding: 10px;
  background-color: #3B3BDE;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bold;
}
#btnFiltrar:hover {
  background-color: #2e2ebd;
}

.propiedades {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: #fff;
  height: min-content;

}
.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-info {
  padding: 15px;
  text-align: left;
}
.card-info h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: #333;
}
.card-info p {
  margin: 4px 0;
  color: #555;
}

footer {
  background-color: #3B3BDE;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}