body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 10px;
}

.btn-success {
  background-color: #28a745;
  border: none;
}

.btn-success:hover {
  background-color: #218838;
}

.text-primary {
  color: #3B3BDE !important;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
